.about{
    background-image: url('../img/Laptop.png');
    background-color: $black;
    background-position: 100% -5%;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-bottom: 142px;
    &__info{
        width: 50%;
    }
    &__info{
        text-align: right;
        text-align: right;
        align-items: right;
        margin-bottom: 100px;
    }
    &__btn{
        width: 120px;
        height: 120px;
        background-color: $red;
        padding: 17px 8px 75px;
        margin-bottom: 40px;
        cursor: pointer;
    }
    &__btn-title{
        @extend %helvetica-bold;
        font-size: 24px;
        margin-bottom: 10px;
    }
    &__subtitle{
        @extend %helvetica-roman;
        font-size: 8px;
    }
}