.info{
    height: 100vh;
    background-color: $black;
    background-image: url('../img/guitar.png');
    background-position: 82% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner{
        max-width: 60%;
        text-align: right;
        padding-top: 250px;
    }
    &__title{
        @extend %helvetica-bold;
        font-size: 18px;
        margin-bottom: 35px;
    }
    &__text{
        line-height: 26px;
    }
}