@import "vars";
@import "fonts";


/* Default styles */

html {
    box-sizing: border-box;
    font-size: 14px; 
}

body {
    @extend %helvetica-light;
    min-width: 320px;    
    margin: 0;
    padding: 0;
    color: $white;
    background-color: $black;    
    font-size: 1rem;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

button{
    border: none;
    color: inherit;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

/* Slick-Carousel */

@import "../../node_modules/slick-carousel/slick/slick.scss";

/* Blocks */

@import "blocks/_header";
@import "blocks/slider";
@import "blocks/about";
@import "blocks/counter";
@import "blocks/info";
@import "blocks/footer";